<div class="container">
  <div class="row">
    <h1>Flowchart:-</h1>
    <p align="justify" style="font-size: 18px;">
      A flowchart is a graphical representation of the plan. A flowchart is’ a
      diagrammatic or pictorial representation of the algorithm.
    </p>
    <p align="justify" style="font-size: 18px;">
      Flowchart is a type of program design technique.
    </p>
    <p align="justify" style="font-size: 18px;">
      Before writing a program in a computer language it should be designed
      using flowchart to make the program easier to convert into computer
      languages.
    </p>
    <p align="justify" style="font-size: 18px;">
      Flowchart is a visual representation of sequence of steps and decisions
      needed to perform a process to get the solution.
    </p>
    <p align="justify" style="font-size: 18px;">
      Flowchart is like a blueprint that is created before starting the
      construction on a building.
    </p>
    <p align="justify" style="font-size: 18px;">
      Likewise, a programmer chooses to illustrate a flowchart before writing
      the program in computer languages.
    </p>
    <p align="justify" style="font-size: 18px;">
      The symbols used in the flowchart are easy to learn.
    </p>
    <h1>Symbols of flowchart</h1>
    <div class="col-3">
      <!-- <div class="responsive">
        <img
          src="assets/images/Flowchart/Symboles of Flowchart/Connector.PNG"
          class="img-fluid"
          alt="Responsive image"
          height="100px"
          width="100px"
        />
        &nbsp;
        <img
          src="assets/images/Flowchart/Symboles of Flowchart/Decision.PNG"
          class="img-fluid"
          alt="Responsive image"
          height="100px"
          width="100px"
        />
        &nbsp;
        <img
          src="assets/images/Flowchart/Symboles of Flowchart/input_output.PNG"
          class="img-fluid"
          alt="Responsive image"
          height="100px"
          width="100px"
        />
        &nbsp;
        <img
          src="assets/images/Flowchart/Symboles of Flowchart/Process_performed.PNG"
          class="img-fluid"
          alt="Responsive image"
          height="100px"
          width="100px"
        />
        &nbsp;
        <img
          src="assets/images/Flowchart/Symboles of Flowchart/Start_stop_1.PNG"
          class="img-fluid"
          alt="Responsive image"
          height="100px"
          width="100px"
        />
      </div> -->

      <div class="responsive">
        <img
          src="assets/images/Flowchart\flowchart_basic.png"
          class="img-fluid"
          alt="Responsive image"
          height="450px"
          width="600px"
        />
      </div>
      <h1>Guidelines for preparing flowchart</h1>
      <p align="justify" style="font-size: 18px;">
        1. Every requirement should be noted down out in a logical order.
      </p>
      <p align="justify" style="font-size: 18px;">
        2. Use consistent design. The shapes, line and text in a flowchart
        should be uniform.
      </p>
      <p align="justify" style="font-size: 18px;">
        3. The whole flowchart should be on one page.
      </p>
      <p align="justify" style="font-size: 18px;">
        4. A flowchart should always have the top to bottom approach.
      </p>
      <p align="justify" style="font-size: 18px;">
        5. If the flowchart is horizontal, then the data flow should be form
        left to right.
      </p>
      <p align="justify" style="font-size: 18px;">
        6. Every flowchart should be started with start symbol and ended with
        end symbol.
      </p>
      <p align="justify" style="font-size: 18px;">
        7. Always use the standard flowchart symbols.
      </p>
      <p align="justify" style="font-size: 18px;">
        8. Only one flow line should come out from a process symbol.
      </p>
      <p align="justify" style="font-size: 18px;">
        9. Instead of the traditional decision symbol use a split path.
      </p>
      <p align="justify" style="font-size: 18px;">
        10. Ensure that the flowchart has a logical start and finish
      </p>
      <p align="justify" style="font-size: 18px;">
        11. It is always good practice to test the flowchart by passing a trial
        data before finalizing it.
      </p>
    </div>
    <div class="responsive">
      <img
        src="/assets/images/Flowchart/Example.PNG"
        class="img-fluid"
        alt="Responsive image"
      />
    </div>
  </div>
</div>
