<div class="container">
  <div class="row">
    <h1>if</h1>
    <p align="justify" style="font-size: 18px;">
      In some situation, we would like to execute some logic when a condition is
      TRUE, and some other logic when the condition is FALSE and this can be
      done by using if statement.
    </p>
    <p align="justify" style="font-size: 18px;">
      The condition’s result comes from the comparison of two values.
    </p>
    <p align="justify" style="font-size: 18px;">
      Condition is an expression that is made up by using relational operators
      (>,<,>=,<=,==,etc.) and operand and logical operators (&& , || ,etc) if
      required, and it returns true or false.
    </p>
    <h2>Type of if statements</h2>
    <p align="justify" style="font-size: 18px;">
      There are 4 ways to write if statements as below given image.
    </p>
    <h2>If</h2>
    <p align="justify" style="font-size: 18px;">
      In some situation we would like to execute some logic when a condition is
      TRUE.
    </p>
    <p align="justify" style="font-size: 18px;">
      The condition usually results from comparison of two values.
    </p>
    <p align="justify" style="font-size: 18px;">
      If the condition is TRUE then the control between the if brackets.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <div class="responsive">
      <img
        src="assets/images/If_Else/if_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="120px"
        width="180px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To check whether number is 5
    </p>
 
    <h2>If…else</h2>
    <p align="justify" style="font-size: 18px;">
      In some situation we would like to execute some logic when a condition is
      TRUE, and some other logic when the condition is FALSE.
    </p>
    <p align="justify" style="font-size: 18px;">
      An if statement consists of a Boolean expression.
    </p>
    <p align="justify" style="font-size: 18px;">
      The condition usually results from a comparison of two values.
    </p>
    <p align="justify" style="font-size: 18px;">
      If the condition is TRUE then the control goes to between if and else
      block, that is the program will execute the code between if and else
      statements, else program will execute the code after else.
    </p>
    <p align="justify" style="font-size: 18px;">
      We can write only if block. The else if and else clauses are both
      optional.
    </p>
    <p align="justify" style="font-size: 18px;">
      We can have any number of elseif statements or none.
    </p>
    <p align="justify" style="font-size: 18px;">
      We can also write nested if-else block.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <div class="responsive">
      <img
        src="assets/images/If_Else/if_else_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="150px"
        width="180px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To check whether a number is positive or negative
    </p>

    <h2>Nested If…else</h2>
    <p align="justify" style="font-size: 18px;">
      If within If is known as a Nested If…else
    </p>
    <p align="justify" style="font-size: 18px;">
      In some cases we would like to execute some more condition when a
      condition is TRUE, and some other condition logic when the condition is
      FALSE.
    </p>
    <p align="justify" style="font-size: 18px;">
      The most general way of doing this is by using the else if variant on then
      if statement.
    </p>
    <p align="justify" style="font-size: 18px;">
      This works by cascading several comparisons.
    </p>
    <p align="justify" style="font-size: 18px;">
      As soon as one of these gives a true result, the following statement or
      block is executed, and no further comparisons are performed.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <div class="responsive">
      <img
        src="assets/images/If_Else/nested_if_else_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="240px"
        width="200px"
      />
    </div>

    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To find the maximum number out of three numbers
    </p>

    <h2>if…else if…else</h2>
    <p align="justify" style="font-size: 18px;">
      There are cases when we would like to execute some more condition when a
      condition is TRUE, and some other condition logic when the condition is
      FALSE.
    </p>
    <p align="justify" style="font-size: 18px;">
      We can write multiple else if condition with if statement.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <div class="responsive">
      <img
        src="assets/images/If_Else/if_else_if.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="240px"
        width="200px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To check wether a number is odd even or zero
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To find total and grade of a student
    </p>
    <h2>Properties of If..else Statement</h2>
    <p align="justify" style="font-size: 18px;">
      • It’s not compulsory to write else block.
    </p>
    <p align="justify" style="font-size: 18px;">
      • We cannot write condition with else.
    </p>
  </div>
</div>
