<div class="container">
  <div class="row">
    <h1>Understand With Hello World Program</h1>

<p align="justify" style="font-size: 18px;">All C programs should contain elements :-</p>

<h2>
  The preprocessor
</h2>
    <p align="justify" style="font-size: 18px;">
      These are the various Helpful files which gets executed on compiling.
      These Preprocessor Files must be included in any program to run it
      smoothly, creating no any errors. These commands tell the compiler to do
      preprocessing before doing actual compilation. These are readymade
      standard library files with C provides the facilities that are not defined
      within C, which we will se later on… Soo Cheers!!!
    </p>
    <h3>Comments</h3>
    <p align="justify" style="font-size: 18px;">
      Comments are used for commenting on Source code which will not get
      compiled but it will be very helpful in finding errors, functioning of
      Various Commands.
    </p>
    <p align="justify" style="font-size: 18px;">Comments are non-executable codes as already said earlier.</p>
    <p align="justify" style="font-size: 18px;">
      Comments are generally categorized in two ways: (i) They can be written in
      a Single line as: //….. called as Single-Line comments. (ii) Comments can
      also be written in symbols called Multi-Line Comment /*…...*/ between the
      symbols, write the comments. Functions Various operational areas to be
      performed using
    </p>
    <h4>Example#</h4>
    <h2>// First Program to Print HELLO WORLD on Output screen.</h2>
    <p align="justify" style="font-size: 18px;">Source Code or Input:</p>

    <h1>How To Run Program</h1>
    <h4>Creating the Source file, Compiling and Linking</h4>
    <p align="justify" style="font-size: 18px;">
      C programs are compiling and run by many C compilers commercially
      available in the market such as Borland turbo C++, Intel C/C++ , Microsoft
      Visual C++, GCC/G++ for Linux, etc.
    </p>
    <p align="justify" style="font-size: 18px;">
      In this book, all the examples are tested using DOS based Borland turbo
      C++ Version 3.0 compiler.
    </p>
    <p align="justify" style="font-size: 18px;">Following are the steps that we have to follow practically.</p>
    <h3>Step 1: Open a turbo C++ editor or any editor and write a program.</h3>
    <div class="responsive">
      <img
        src="assets/images/run_program/Step_1.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <h3>Step 2: Save the program and give the file name with extension.</h3>
    <div class="responsive">
      <img
        src="assets/images/run_program/Step_2.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      For C program, the extension name must be. C. Filename can be any name but
      should not be more than 8 characters and does not contain space or any
      symbols.
    </p>
    <h3>Step 3: Compiling source file</h3>
    <div class="responsive">
      <img
        src="assets/images/run_program/Step_3.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      Compile the program. If you are using turbo C than from the compile menu
      and select compile option. Compiler perform two operations, first find out
      errors in your program, if no errors then it perform second operation,
      converts program into binary file also known as object file(.obj) which is
      understood by the computer only.
    </p>
    <p align="justify" style="font-size: 18px;">
      If there are any errors during compilation process, then debug them and
      compile the program again. During compilation process, compiler make an
      object file which is specific to the operating system (on which we have
      compiled the program) and hardware dependent, this means compiled code may
      not work on another operating system.
    </p>
    <h3>
      Step 4: Linking and executing Link the object file (obj) generated by the
      compiler with other library files(lib) to make a executable file(exe).This
      process is done by selecting link option from the compile menu. If any
      errors occur during linking process, correct them and compile the program
      again otherwise we can run the program by selecting run option from the
      run menu in turbo C.
    </h3>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/run_program/Step_4.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="100px"
        width="450px"
      />
    </div>

  </div>
</div>
