<footer id="footer">
  <div class="container">
    <div class="row">

    </div>
    <div class="social text-center">
      <h3 style="color: black;margin-top: 10px;">Made with <img height="40px" width="40px" src="assets/images/Heart.gif"> by INDIA <img height="40px" width="40px" src="assets/images/India.png"></h3>
    </div>

    <div class="clear"></div>
    <!--CLEAR FLOATS-->
  </div>
  <div class="footer2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="simplenav">
              <a [routerLink]="['']">Home</a> |
              <a [routerLink]="['/about']">About</a> 

            </p>
          </div>
        </div>

        <div class="col-md-6 panel">
          <div class="panel-body">
            <p class="text-right">
              Copyright &copy; 2020.
              <!-- <a href="http://webthemez.com/" rel="develop">WebThemez.com</a> -->
            </p>
          </div>
        </div>
      </div>
      <!-- /row of panels -->
    </div>
  </div>
</footer>
