<div class="container">
  <div class="row">
    <h1>How to install C</h1>
    <p align="justify" style="font-size: 18px;">
      There are many compilers available for c and c++. You need to download any
      one. Here, we are going to use Turbo C++. It will work for both C and C++.
      To install the Turbo C software, you need to follow following steps.
    </p>
    <p align="justify" style="font-size: 18px;">1.Download Turbo C++</p>
    <p align="justify" style="font-size: 18px;">
      2.Create turboc directory inside c drive and extract the tc3.zip inside
      c:\turboc
    </p>
    <p align="justify" style="font-size: 18px;">3.Double click on install.exe file</p>
    <p align="justify" style="font-size: 18px;">
      4.Click on the tc application file located inside c:\TC\BIN to write the c
      program
    </p>
    <h1>1) Download Turbo C++ software</h1>
    <p align="justify" style="font-size: 18px;">You can download turbo c++ from many sites. download Turbo c++</p>
    <a href="https://www.javatpoint.com/cpp/software/tc3.zip" style="font-size: 18px; text-decoration: none;">Download from here</a>
    <h1>2) Create turboc directory in c drive and extract the tc3.zip</h1>

    <p align="justify" style="font-size: 18px;">
      Now, you need to create a new directory turboc inside the c: drive. Now
      extract the tc3.zip file in c:\truboc directory.
    </p>
    <h1>3) Double click on the install.exe file and follow steps</h1>
    <p align="justify" style="font-size: 18px;">Now, click on the install icon located inside the c:\turboc</p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_3_a.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">It will ask you to install c or not, press enter to install.</p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/step_3_b.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">Change your drive to c, press c.</p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_3_c.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      Press enter, it will look inside the c:\turboc directory for the required
      files.
    </p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_3_d.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">Select Start installation by the down arrow key then press enter.</p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_3_e.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      Now C is installed, press enter to read documentation or close the
      software
    </p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_3_f.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <h1>
      4) Click on the tc application located inside c:\TC\BIN
    </h1>
    <p align="justify" style="font-size: 18px;">
      Now double click on the tc icon located in c:\TC\BIN directory to write
      the c program.
    </p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_4_a.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      In windows 7 or window 8, it will show a dialog block to ignore and close
      the application because fullscreen mode is not supported. Click on Ignore
      button.
    </p>
    <div style="margin-top: 10px;" class="responsive">
      <img
        src="assets/images/Windows/Step_4_b.jpg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="450px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">Now it will showing following console.</p>

    <h1>For Ubuntu</h1>
    <p align="justify" style="font-size: 18px;"><b>Open Terminal </b>:Type</p>
    <h2>sudo apt install gcc</h2>
  </div>
</div>
