<div class="container">
  <div class="row">
    <h1>Variables</h1>

    <p align="justify" style="font-size: 18px;">
      In C programming language, a variable is a value that can change,
      depending on conditions or on information passed to the program.
    </p>

    <p align="justify" style="font-size: 18px;">
      Variables are used to store a data. A variable is a container (storage
      area) to hold data.
    </p>

    <p align="justify" style="font-size: 18px;">
      We can think of a variable like a bucket and values are like a water in
      bucket which can easily change.
    </p>

    <p align="justify" style="font-size: 18px;">
      Variable is an entity where user can store digits, characters and strings.
      It is similar to a box or a container.
    </p>

    <p align="justify" style="font-size: 18px;">
      Constant store a value that cannot be change but storing a value in a
      variable value can be change.
    </p>

    <h1>How variable stores the value?</h1>

    <p align="justify" style="font-size: 18px;">
      Data are normally stored in a computer’s memory which is organized as
      cells. These cells are called the location or address that store the data.
      Variables are used to give a name to these locations.
    </p>

    <h1>Variable names</h1>

    <p align="justify" style="font-size: 18px;">
      A name given to the memory location is known as variable name. There are
      rules that must be followed before giving a variable name in C. They are
      as under.
    </p>

    <p align="justify" style="font-size: 18px;">
      • In C, it must start with an alphabet or underscore (_) and following
      characters can be letter, underscores and digits only.
    </p>

    <p align="justify" style="font-size: 18px;">
      • Both uppercase and lowercase letters can be used.
    </p>
    <p align="justify" style="font-size: 18px;">
      • Spaces are not allowed in variable name.
    </p>
    <p align="justify" style="font-size: 18px;">
      • Certain keywords (these are C language reserved words) cannot be used in
      a variable name.
    </p>
    <p align="justify" style="font-size: 18px;">
      • The variable names should not be very long. (maximum 32 characters)
    </p>
    <p align="justify" style="font-size: 18px;">
      • The variable names should be meaningful.
    </p>
    <h2>Example#</h2>
    <p align="justify" style="font-size: 18px;">Valid A, a1, a_ ,_ a</p>
    <p align="justify" style="font-size: 18px;">Invalid If, 1a, a#, a bc</p>


    <h1>Declaration of the variables:</h1>
    <h2>Syntax#</h2>
    <h2>Data-type variableName1, variableName2 … variableNameN;</h2>
    <h2>Example#</h2>
    <p align="justify" style="font-size: 18px;">int sum, rollno;</p>
    <p align="justify" style="font-size: 18px;">float average;</p>
    <p align="justify" style="font-size: 18px;">char gender, name[20];</p>
    <div class="responsive">
      <img
        src="/assets/images/Variable_&_Declaration/Store_value.PNG"
        class="img-fluid"
        alt="Responsive image"
        style="height: 130px; width: 330px;"
      />
      &nbsp;
      <img
        src="/assets/images/Variable_&_Declaration/Variable_Declaration.PNG"
        class="img-fluid"
        alt="Responsive image"
        style="height: 130px; width: 330px;"
      />
    </div>
  </div>
</div>
