<div class="container">
  <div class="row">
    <h1>Features</h1>
    <h1>MAIN FEATURES OF PROGRAMMING LANGUAGES</h1>
    <div class="responsive">
      <img
        src="/assets/images/3.png"
        class="img-fluid"
        alt="Responsive image"
        height="200px"
        width="200px"
      />
    </div>
    <p align="justify" style="margin-top: 5px; font-size: 18px;">
      The popularity of a programming language depends on the features and
      utilities it provides to programmers. The features that a programming
      language must have to stand out are the following:
    </p>

    <p align="justify" style="font-size: 18px;">
      <b>Simplicity</b>: the language must offer clear and simple concepts that
      facilitate its learning and application, in a way that is simple to
      understand and maintain. Simplicity does not mean that it can be
      subtracted from the optimal power of functioning. :
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Naturalness</b>: this means that its application in the area for which
      it was designed must be done naturally, providing operators, structures
      and syntax for operators to work efficiently. :
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Abstraction</b>: it is the ability to define and use complicated
      structures or operations while ignoring some details, which influences
      writing ability. :
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Efficiency</b>: Programming languages must be translated and executed
      efficiently so as not to take up too much memory space or require too much
      time.
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Structuring</b>: the language allows programmers to write their codes
      according to structured programming concepts, to avoid creating errors. :
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Compactness</b>: with this characteristic, it is possible to express
      operations concisely, without having to write too many details. :
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Locality</b>: refers to the codes concentrating on the part of the
      program with which you are working at a given time. :
    </p>
  </div>
</div>
