<header id="head" class="secondary">
  <div class="container">
    <h1>About Us</h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p> -->
  </div>
</header>

<section class="team-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 style="text-align: center;">Our Amazing Team</h2>
        <!-- <p>
          Voluptate minus illo tenetur sint ab in culpa cumque impedit
          quibusdam. Saepe, molestias quia.Voluptate minus illo tenetur sint ab
          in culpa cumque impedit quibusdam. Saepe, molestias quia.Voluptate
          minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe,
          molestias quia.
        </p> -->
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <!-- Team Member -->
        <div class="team-member">
          <!-- Image Hover Block -->
          <div class="member-img">
            <!-- Image  -->
            <img
              class="rounded-circle image-fluid"
              src="assets/images/Abhishek2.jpg"
              alt="Avatar"
              width="250px"
              height="250px"
            />
          </div>
          <!-- Member Details -->
          <h4>Abhishek Suthar</h4>
          <!-- Designation -->
          <span class="pos">Co-Founder</span>
          <div class="team-socials">
            <a href="mailto:"
              ><i class="fa fa-envelope"></i>ak15suthar@gmail.com</a
            ><br />
            <a href="https://www.linkedin.com/in/abhishek-suthar-021761197/"
              ><i class="fa fa-linkedin-square"></i
            ></a>
            <a href="https://github.com/ak15suthar"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <!-- Team Member -->
        <div class="team-member pDark">
          <!-- Image Hover Block -->
          <div class="member-img">
            <!-- Image  -->
            <div class="row">
              <img
                class="rounded-circle image-fluid"
                src="assets/images/Aryan.JPG"
                alt="Avatar"
                width="250px"
                height="250px"
              />
            </div>
          </div>
          <!-- Member Details -->
          <h4>Aryan Shah</h4>
          <!-- Designation -->
          <span class="pos">Co-Founder</span>
          <div class="team-socials">
            <a href="mailto:"><i class="fa fa-envelope"></i>aryanshah576@gmail.com</a><br>

            <a href="http://linkedin.com/in/aryan-shah-526a3b124"
              ><i class="fa fa-linkedin-square"></i
            ></a>
            <a href="https://github.com/Aryan576"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <!-- Team Member -->
        <div class="team-member pDark">
          <!-- Image Hover Block -->
          <div class="member-img">
            <!-- Image  -->
            <div class="row">
              <img
                class="rounded-circle image-fluid"
                src="assets/images/Devesh1.jpeg"
                alt="Avatar"
                width="250px"
                height="250px"
              />
            </div>
          </div>
          <!-- Member Details -->
          <h4>Devesh Sheth</h4>
          <!-- Designation -->
          <span class="pos">Co-Founder</span>
          <div class="team-socials">
            <a href="mailto:"><i class="fa fa-envelope"></i>deveshssheth2018@gmail.com</a><br>

            <a href=""><i class="fa fa-linkedin-square"></i></a>
            <a href="https://github.com/deveshsheth"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <!-- Team Member -->
        <div class="team-member pDark">
          <!-- Image Hover Block -->
          <div class="member-img">
            <!-- Image  -->
            <img
              class="rounded-circle image-fluid"
              src="assets/images/Mann.JPG"
              alt="Avatar"
              width="250px"
              height="250px"
            />
          </div>
          <!-- Member Details -->
          <h4>Mann Bhatt</h4>
          <!-- Designation -->
          <span class="pos">Co-Founder</span>
          <div class="team-socials">
            <a href="mailto:"><i class="fa fa-envelope"></i>mannbhatt.00@gmail.com</a><br>

            <a href="https://www.linkedin.com/in/mann-bhatt-781327147/"
              ><i class="fa fa-linkedin-square"></i
            ></a>
            <a href="https://github.com/MaB2210"
              ><i class="fa fa-github"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
