<div class="container">
  <div class="row">
    <h1>Features of C</h1>
    <h4>Keywords</h4>
    <div class="responsive">
      <img
        src="/assets/images/keyword.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • There are only 32 keywords in ANSI C and its strength lies in its
      built-in functions.
    </p>

    <h4>Libraries</h4>
    <div class="responsive">
      <img
        src="/assets/images/Libraries.jpeg"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • C Compiler comes with list of header files which consist of many built
      in functions which can be used to develop program.
    </p>

    <h4>Modularity</h4>
    <div class="responsive">
      <img
        src="/assets/images/Modularity.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • It is one of the important characteristics of C. we can split the C
      program into no. of modules instead of repeating the same logic
      statements. It allows reusability of modules.
    </p>

    <h4>Middle level language</h4>
    <p align="justify" style="font-size: 18px;">
      • It allows the programmer to perform operations from high level language
      to low level of assembly language. Therefore, it is also known as middle
      level language.<br />
      • As a middle level language C combines both the advantages of low level
      and high-level languages.
    </p>

    <h4>Operating Systems are written in C language</h4>
    <div class="responsive">
      <img
        src="/assets/images/Operating Systems.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • Major operating systems (OS) like Windows, Linux and Unix are all
      written in C language. So, if we want to modify programs in Windows or
      Linux, basic understanding of C is inevitable.
    </p>
    <h4>Portability</h4>
    <p align="justify" style="font-size: 18px;">
      • We can compile or execute C program in any operating
      system(unix,dos,windows). This means that C programs written for one
      computer can easily run on another computer without any change or by doing
      a little change.
    </p>
    <h4>Powerful programming language</h4>
    <div class="responsive">
      <img
        src="/assets/images/Powerful programming language.jpg"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • C is very efficient and powerful programming language, it is best used
      for data structures and designing system software.
    </p>

    <h4>Case Sensitive language.</h4>
    <div class="responsive">
      <img
        src="/assets/images/Case Sensitive language..png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • C is case sensitive language. It is essential to write a code according
      the case sensitively.
    </p>

    <h4>Procedure Oriented Language</h4>
    <p align="justify" style="font-size: 18px;">
      • C Language is procedure oriented language, means in the C language user
      creates procedures or functions to execute their specific task. Usually C
      programs are divided into small functions. Procedure oriented language is
      follows algorithm to execute your statements.
    </p>

    <h4>Easy to learn</h4>
    <div class="responsive">
      <img
        src="/assets/images/Easy to learn.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • C programming language is easy to Learn. C language syntax is very easy
      to understand.
    </p>

    <h4>Speed</h4>
    <div class="responsive">
      <img
        src="/assets/images/Speed.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 220px; width: 250px;"

      />
    </div>
    <p align="justify" style="font-size: 18px;">
      • It is Close to hardware make many ‘C’ programs run at speed close to
      their assembly language.
    </p>
  </div>
</div>
