<div class="container">
  <div class="row">
    <h1>Loop Control Structure.</h1>
    <p align="justify" style="font-size: 18px;">
      Iteration statements are also known as Looping statements. Looping
      statements are used when a group of statements is to be executed
      repeatedly, till a condition is TRUE or until a condition is FALSE.
    </p>
    <p align="justify" style="font-size: 18px;">
      The following illustration shows a loop structure that runs a set of
      statements until a condition becomes true.
    </p>

    <div class="responsive">
      <img
        src="assets/images/loops/main1.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="230px"
        width="200px"
      />
      <br>
      <img
        src="assets/images/loops/main2.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="240px"
        width="400px"
      />
    </div>

    <h2>Entry controlled loop and Exit controlled loop</h2>
    <p align="justify" style="font-size: 18px;">
      In entry controlled loop, where test condition is checked before entering
      the loop body, known as Entry Controlled Loop.
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> for and while loops are known as entry controlled loop.
    </p>
    <p align="justify" style="font-size: 18px;">
      While in exit controlled loop the body of loop will be executed first and
      at the end the test condition is checked, if condition is satisfied than
      body of loop will be executed again.
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> do while loop is known as exit controlled loop
    </p>
    <h2>For loop</h2>
    <p align="justify" style="font-size: 18px;">
      The for loop executes a block of statements a specified number of times.
    </p>
    <p align="justify" style="font-size: 18px;">
      It is the most commonly and most popular loop used in any programming
      language.
    </p>
    <p align="justify" style="font-size: 18px;">
      For loop is an entry controlled loop i.e. the condition is checked before
      entering into the loop. So, if the condition is false for the first time,
      the statements inside for loop may not be executed at all.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>

    <div class="responsive">
      <img
        src="assets/images/loops/forloop.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="180px"
        width="190px"
      />
      &nbsp;
      <img
        src="assets/images/loops/for_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="100px"
        width="400px"
      />
    </div>

    <h3>Step 1: Initialization</h3>
    <p align="justify" style="font-size: 18px;">
      Evaluates the initialization code means from where to start.
    </p>

    <p align="justify" style="font-size: 18px;">
      The variable initialization allows us to declare a variable and gives it a
      starting value.
    </p>
    <p align="justify" style="font-size: 18px;">
      The initialization statement is executed only once.
    </p>
    <p align="justify" style="font-size: 18px;">
      This part is optional and may be absent.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Example#</b></p>
    <div class="responsive">
      <img
        src="assets/images/loops/initialization_example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="100px"
        width="400px"
      />
    </div>

    <p align="justify" style="font-size: 18px;">
      Keep in mind that a semicolon separates each of these sections.
    </p>
    <h3>Step 2: Condition</h3>
    <p align="justify" style="font-size: 18px;">
      The condition expression is evaluated. If the test expression is false,
      for loop is terminated at that time. But if the test expression is true ,
      logic inside the body of for loop is executed and the update expression is
      updated.
    </p>
    <p align="justify" style="font-size: 18px;">
      The condition is checked after the execution of increment/decrement
      statement.
    </p>
    <p align="justify" style="font-size: 18px;">
      This process repeats until the test expression is false. Usually condition
      is combination of Relational operator.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Example#</b></p>
    <div class="responsive">
      <img
        src="assets/images/loops/condition_Example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="100px"
        width="400px"
      />
    </div>
    <h3>Step 3: Increment/Decrement</h3>
    <p align="justify" style="font-size: 18px;">
      Then it evaluates the increment/decrement condition and again follows from
      step 2. When the condition expression becomes false, it exits the loop.
    </p>
    <p align="justify" style="font-size: 18px;">
      The variable increment/decrement section is the easiest way for a for loop
      to handle changing of the variable.
    </p>
    <div class="responsive">
      <img
        src="assets/images/loops/Inc_Dec_Example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="100px"
        width="400px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> for loop demo
    </p>
    <div class="responsive">
      <img
        src="assets/images/loops/inc_dec_demo.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="400px"
        width="400px"
      />
    </div>
    <h2>While loop</h2>
    <p align="justify" style="font-size: 18px;">
      While loop is an entry controlled loop i.e. the condition is checked
      before entering into the loop.So if the condition is false for the first
      time, the statements inside while loop may not be executed at all.
    </p>
    <p align="justify" style="font-size: 18px;">
      While loop keeps executing till the condition against which it tests
      remain true.
    </p>
    <p align="justify" style="font-size: 18px;">
      The While statement always checks the condition before it begins the loop.
    </p>
    <p align="justify" style="font-size: 18px;">
      In While loop programmer have to maintain or keep track of increment or
      decrement value.
    </p>
    <p align="justify" style="font-size: 18px;">
      An entry controls loop checks the condition first and then enters the loop
      body. So for…and while..both are known as a entry controls loop
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>


    <div class="responsive">
      <img
        src="assets/images/loops/forloop.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="180px"
        width="190px"
      />
      <img
        src="assets/images/loops/while_loop_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="150px"
        width="200px"
      />
    </div>


    <h3>Step 1: condition</h3>
    <p align="justify" style="font-size: 18px;">
      The while loop evaluates the conditional expression first, If the test
      expression is false, while loop is terminated at a time. But if the test
      expression is true , logic inside the body of while loop is executed and
      the update expression is updated.
    </p>
    <p align="justify" style="font-size: 18px;">
      When the test expression is false, the while loop is terminated. The loop
      iterates while the condition is true.
    </p>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> To print 1 to N
    </p>

    <div class="responsive">
      <img
        src="assets/images/loops/while_lop_example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="200px"
        width="180px"
      />
    </div>
    <h2>Do while loop</h2>
    <p align="justify" style="font-size: 18px;">
      Do-while loop is an exit controlled loop i.e. the condition is checked at
      the end of loop.
    </p>
    <p align="justify" style="font-size: 18px;">
      In do while loop, statement/logic is given before the condition, so
      statement or code will be executed at least one time.
    </p>
    <p align="justify" style="font-size: 18px;">
      The body of do...while loop is executed once, before checking the test
      expression.
    </p>
    <p align="justify" style="font-size: 18px;">
      In order to exit a do-while loop either the condition must be false or we
      should use break statement.
    </p>
    <p align="justify" style="font-size: 18px;">
      Do..while loop is known as an exit controlloed loop. An exit controlled
      loop checks the condition at the end of the loop.Hence even if the
      condition is false the loop will be executed at least once.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <div class="responsive">
      <img
        src="assets/images/loops/forloop.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="180px"
        width="190px"
      />
      <img
        src="assets/images/loops/do_while_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="120px"
        width="300px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      <b>Example#</b>Using do…while loop demo
    </p>
    <div class="responsive">
      <img
        src="assets/images/loops/do_while_loop_example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="400px"
        width="450px"
      />
    </div>
  </div>
</div>
