<div class="container">
  <div class="row">
    <h2>Programming: Importance of Programming</h2>
    <p align="justify" style="font-size: 18px;">
      Before we get to talking about why every child should learn to code, you
      may have come here looking to find out HOW you can teach your child to
      code. It’s easy to get started teaching children to code, even if you
      don’t have any coding experience yourself! In fact, we’ve compiled a list
      of coding concepts even 5 year olds can understand
    </p>

    <div class="responsive">
      <img
        src="/assets/images/i1.jpg.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 300px; width: 350px;"
      />
    </div>

    <p align="justify" style="font-size: 18px;">
      Why should kids learn coding? There are so many reasons to learn Coding,
      it was hard to pick just some benefits of learning to code. From
      problem-solving skills, job opportunities, from critical thinking, and
      creativity, there are so many reasons to learn programming. Let’s review
      why kids should learn to code.
    </p>

    <h2>
      Computer programming gives kids a challenge and helps them develop
      resilience
    </h2>

    <div class="responsive">
      <img
        src="/assets/images/Develop_resilience.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 300px; width: 350px;"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      When children learn to code, they develop the ability to bounce back after
      failure. They learn that failure isn’t necessarily a bad thing, and in
      fact, it can often be something positive because it serves as a learning
      opportunity. This is one of the most important reasons why kids should
      code, as they will learn quickly that ‘debugging’ your code is half the
      fun. When you fail and try again you can learn from your mistakes. Coding
      gives children the ability to try and try again until they succeed and
      produce the result they are looking for.
    </p>
    <h2>Coding teaches children how to think</h2>
    <div class="responsive">
      <img
        src="/assets/images/Think.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 300px; width: 350px;"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      “A computer is a bicycle for your mind” – Steve Jobs
    </p>
    <p align="justify" style="font-size: 18px;">
      Learning to code teaches children how to think. Computer programming isn’t
      just about teaching how to type lines of code. It is more about teaching
      children how to think differently. Being able to code effectively, a
      programmer needs to use logical thinking. They need to be able to see a
      large problem and break it down into smaller pieces in order to solve it
      in an effective manner. This is called decomposition and is one of the key
      features of computational thinking
    </p>
    <p align="justify" style="font-size: 18px;">
      Children learning code will need to take a vague idea and use their
      creativity to turn it something effective. If the first solution doesn’t
      work, they try another one. If that one doesn’t work, they try again until
      the problem is solved. Coding helps to develop this way of thinking and
      these types of thinking skills are highly sought after.
    </p>
    <h2>A child expands their creativity when they learn how to code</h2>
    <p align="justify" style="font-size: 18px;">
      Coding is important to learn because computer programming teaches children
      to experiment and gives them the confidence to be creative. They will have
      the chance to design something that is entirely their own. Children thrive
      off of the feedback they get from creating something they love. Just like
      learning a language, or to play a musical instrument, children need
      motivation. Usually seeing results along the way is enough to cultivate
      this, and this is what happens when children learn to code. Because coding
      is easy to pick up, for children especially, confidence comes easily. When
      children learn how to code it gives them the opportunity to be confident
      and create something in a fun and exciting way. Why is learning to code so
      important? For us, creativity tops the list! We love the creative games
      and activities our kids can create with coding. Coding doesn’t have to be
      boring, in fact, coding can be fun! We show you how to make coding fun for
      your kids.
    </p>
    <h2>
      Computer programming is the future
    </h2>
    <div class="responsive">
      <img
        src="/assets/images/Future.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 300px; width: 350px;"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      When you look at how the world is developing, coding is an extremely
      useful skill to possess. There are an increasing number of businesses who
      rely on computer code, not just those in the technology sector. A child
      who learn how to code will have the advantage in life with more employment
      opportunities available to them in the future, no matter which industry
      they decide to enter whether it be in the technology sector, finance,
      retail, health or other. This is an important reason why coding should be
      taught in schools.
    </p>
    <h2>Coding helps children learn how to have fun with math</h2>
    <div class="responsive">
      <img
        src="/assets/images/fun_with_math.png"
        class="img-fluid"
        alt="Responsive image"
        style="height: 300px; width: 350px;"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      Coding is the language of maths. Imagine coding being taught in every
      school? Learning to program involves many skills including organizing and
      analyzing data. Children can grow their math skills while coding, without
      even realizing it. Using their logic and calculation skills while creating
      something of their own can make maths more engaging and fun. Another big
      reason coding should be taught in schools.
    </p>
    <h2>Why is coding important to learn?</h2>
    <p align="justify" style="font-size: 18px;">
      We have gone through some great reasons why coding is important to learn
      for not only children but anyone. If you have a child, giving them the
      opportunity to learn about technology and the way computers work will
      surely give them an advantage in life. Learning to code while they are
      young will set them up for a successful future.
    </p>
  </div>
</div>
