<div class="container">
  <div class="row">
    <h1>History of C Language</h1>

    <div class="responsive">
      <img
        src="assets/images/Dennis Ritchie.jpeg"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="350px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      C is the most widely used computer language.
    </p>
    <p align="justify" style="font-size: 18px;">
      The C programming language is used to program desktop applications,
      compilers, tools and utilities and even hardware devices.
    </p>
    <p align="justify" style="font-size: 18px;">
      The C programming language follows a procedure oriented paradigm.
    </p>
    <p align="justify" style="font-size: 18px;">
      So, In C language, a large program is divided into small programs called
      functions.
    </p>
    <p align="justify" style="font-size: 18px;">
      Prime focus is on functions and procedures that operate on the data.
    </p>

    <p align="justify" style="font-size: 18px;">
      C Program structure follows “Top Down Approach”.
    </p>

    <p align="justify" style="font-size: 18px;">
      Hey guys the founder of C Language is .
    </p>

    <p align="justify" style="font-size: 18px;">
      He developed C Language in Bell Laboratories in 1971.
    </p>

    <p align="justify" style="font-size: 18px;">
      Dennis Ritchie is best known as the creator of the C programming language
      and also a key developer of the Unix operating system.
    </p>
  </div>
</div>
