<div class="container">
  <div class="row">
    <h1>Algorithm</h1>
    <p align="justify" style="font-size: 18px;">Algorithm is a problem-solving technique.</p>
    <p align="justify" style="font-size: 18px;">An algorithm is a sequence of steps for solving a problem.</p>
    <p align="justify" style="font-size: 18px;">
      Here the instructions are written in English words and that are similar to
      the high-level languages instructions.
    </p>
    <p align="justify" style="font-size: 18px;">
      It is also called pseudo-code and is commonly used to express algorithms.
    </p>

    <h1>Algorithm Structure</h1>
    <p align="justify" style="font-size: 18px;">
      An algorithm has following parts and these parts are always in below shown
      order:
    </p>

    <p align="justify" style="font-size: 18px;">Header It specifies the name of the algorithm.</p>
    <p align="justify" style="font-size: 18px;">Declaration Describes the algorithm.</p>
    <p align="justify" style="font-size: 18px;">Body Sequence of steps for the solution.</p>
    <p align="justify" style="font-size: 18px;">Terminator End statement to terminate algorithm.</p>

    <div class="responsive">
      <img
        src="assets/images/Algorithm/Algorithm.PNG"
        class="img-fluid"
        alt="Responsive image"
      height=""
      />
    </div>

    <h1>How to write algorithm</h1>
    <p align="justify" style="font-size: 18px;">
      An algorithm can be written in pseudo code for the different types of
      operations:
    </p>
    <p align="justify" style="font-size: 18px;">1 To read a data.</p>
    <p align="justify" style="font-size: 18px;">Use Read or Get instructions</p>
    <p align="justify" style="font-size: 18px;">For example, Read name, no1</p>

    <p align="justify" style="font-size: 18px;">2 To print the data</p>
    <p align="justify" style="font-size: 18px;">Use Print or Write instructions</p>
    <p align="justify" style="font-size: 18px;">For example, print "The average is", average</p>

    <p align="justify" style="font-size: 18px;">3. To perform arithmetic operation</p>
    <p align="justify" style="font-size: 18px;">Add number to sum or</p>
    <p align="justify" style="font-size: 18px;">Sum = sum + Number</p>

    <p align="justify" style="font-size: 18px;">4. To assign some value to a variable</p>
    <p align="justify" style="font-size: 18px;">Variable=value or set variable to value</p>
    <p align="justify" style="font-size: 18px;">For example, Total =0 sum=0</p>

    <p align="justify" style="font-size: 18px;">5. To compare the value</p>
    <p align="justify" style="font-size: 18px;">Use selection type instructions if...else …endif</p>
    <p align="justify" style="font-size: 18px;">
      For example, If number a< b then Print “maximum is “,a else Print “maximum
      is “,b end-if
    </p>

    <p align="justify" style="font-size: 18px;">6. To perform repetitions operation</p>
    <p align="justify" style="font-size: 18px;">Use looping type instructions repeat…until or while..do</p>
    <p align="justify" style="font-size: 18px;">
      For example, Repeat until I = 10 read number write number I=I+1 end-repeat
    </p>
    <p align="justify" style="font-size: 18px;">OR</p>
    <p align="justify" style="font-size: 18px;">while I < 10 do: read number write number I=I+1 end-while</p>
  </div>
</div>
