<div class="container">
  <div class="row">
    <h1>Operators</h1>
    <h2>Arithmetic operators</h2>

    <p align="justify" style="font-size: 18px;">
      These operators are used to perform some basic operations like addition,
      substation, division, multiplication and modulo. These requires two
      operands to perform its operation hence they are also called binary
      operators. They are also knowing as mathematical operators.
    </p>
    <div class="responsive">
      <img
        src="assets/images/Operators/Arithmatic_table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="220px"
        width="480px"
      />
    </div>
    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b></p> -->

    <h2>Increment & Decrement</h2>
    <p align="justify" style="font-size: 18px;">
      These operators operate on one operand only. They are also known as unary
      operators. Examples are increment (++), Decrement (--).
    </p>
    <p align="justify" style="font-size: 18px;">These operators are used with variable only.</p>
    <div class="responsive">
      <img
        src="assets/images/Operators/Increment_&_Decrement_Table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="130px"
        width="480px"
      />
    </div>
    <p align="justify" style="font-size: 18px;">
      Two type of notation are used with these operators: postfix and prefix
    </p>
    <h2>Postfix notation</h2>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b> operand symbol</p>
    <p align="justify" style="font-size: 18px;">
      Here symbol is used after the operand means operator modify operand after
      it is used.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Example#</b></p>
    <p align="justify" style="font-size: 18px;">a=5; a=5;</p>
    <p align="justify" style="font-size: 18px;">b=a++; b=a--;</p>
    <p align="justify" style="font-size: 18px;">
      After these two operations are executed, a variable has a 6 and b has 5.
    </p>
    <p align="justify" style="font-size: 18px;">
      After these two operations are executed, a variable has a 4 and b has 5.
    </p>
    <h2>Prefix notation</h2>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b> symbol operand</p>
    <p align="justify" style="font-size: 18px;">
      Here symbol is used before the operand means operators modify operand
      first then after it is used.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Example#</b></p>
    <p align="justify" style="font-size: 18px;">a=5; a=5;</p>
    <p align="justify" style="font-size: 18px;">b=++a; b=--a;</p>
    <p align="justify" style="font-size: 18px;">
      After these two operations are executed, a variable has a 6 and b has 6.
    </p>
    <p align="justify" style="font-size: 18px;">
      After these two operations are executed, a variable has a 4 and b has 4.
    </p>

    <h2>Assignment operators</h2>

    <p align="justify" style="font-size: 18px;">
      Assignment operator are used to assign value to any variable. It is
      denoted by ‘=’ sign. Assignment operator is a binary operator i.e. it
      operates on two values.
    </p>
    <p align="justify" style="font-size: 18px;">It has the lowest precedence</p>
    <div class="responsive">
      <img
        src="assets/images/Operators/Assignment_operator_table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="230px"
        width="480px"
      />
    </div>
    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b></p> -->

    <h2>Relational operators</h2>
    <p align="justify" style="font-size: 18px;">It returns Boolean value only.</p>
    <p align="justify" style="font-size: 18px;">
      Relational operators are used to compare between two operands and evaluate
      as either true or false. For example,# 1 or 0. If the condition is true
      than return 1 otherwise return 0. They are used in conjunction with
      logical operators and conditional & looping statements.
    </p>
    <div class="responsive">
      <img
        src="assets/images/Operators/Relational_operator_table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="200px"
        width="480px"
      />
    </div>
    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b></p> -->

    <h2>Logical operators</h2>

    <p align="justify" style="font-size: 18px;">
      They are also known as binary operators. Logical operators return Boolean
      value.
    </p>
    <div class="responsive">
      <img
        src="assets/images/Operators/Logical_operators_table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="110px"
        width="480px"
      />
    </div>
    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b></p> -->

    <h2>Bit-wise special operators</h2>
    <p align="justify" style="font-size: 18px;">
      We have performed various operations using various operators on entire
      numbers so far. But suppose we want to perform operation on bits rather
      than entire byte ,C supports bitwise operator to perform operation on bits
      of integral operands.
    </p>
    <p align="justify" style="font-size: 18px;">Bitwise operators are works on binary levels.</p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <p align="justify" style="font-size: 18px;">Operand1 symbol(bitwise) operand2</p>
    <p align="justify" style="font-size: 18px;">Here operand1, operand2 are the variable or constant.</p>

    <div class="responsive">
      <img
        src="assets/images/Operators/Bitwise_operators_table.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="230px"
        width="480px"
      />
    </div>

    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b> Program to demonstrate use of bitwise AND operator</p> -->
    <!-- <p align="justify" style="font-size: 18px;">
      <b>Example#</b> Program to demonstrate use of bitwise OR and shift
      operators
    </p> -->

    <h2>Conditional operator</h2>
    <p align="justify" style="font-size: 18px;">
      Conditional operator is also known as ternary operator. It checks the
      expression and returns either true (1) or false (0).
    </p>
    <p align="justify" style="font-size: 18px;">It is known as ternary operator because it has three operands.</p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>
    <p align="justify" style="font-size: 18px;">
      If expression 1 is true then expression 2 is executed else expression 3 is
      executed.
    </p>

    <div class="responsive">
      <img
        src="assets/images/Operators/Conditional_operators_Syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="70px"
        width="480px"
      />
    </div>

    <!-- <p align="justify" style="font-size: 18px;"><b>Example#</b> Maximum between two with conditional operator</p>

    <p align="justify" style="font-size: 18px;">
      <b>Example#</b> Program to check whether a number is odd or even using
      conditional operator
    </p> -->

    <h2>Comma operator</h2>
    <p align="justify" style="font-size: 18px;">
      The comma operator can be used to link the related expressions together.
      It allows evaluating two or more distinct expressions together.
    </p>
    <p align="justify" style="font-size: 18px;">
      A comma-linked list of expressions is evaluated left to right and the
      value of the right-most expression is the value of the combined
      expression. For example, the statement
    </p>
    <p align="justify" style="font-size: 18px;">Value = (x = 2, y = 3, x +y);</p>
    <p align="justify" style="font-size: 18px;">
      First 2 is assigned to x, then 3 is assigned to y and then finally
      x+y(2+3) is executed and assigned to Value.
    </p>
    <p align="justify" style="font-size: 18px;">
      Since comma operator has the lowest precedence of all operators, the
      parentheses are necessary.
    </p>
    <h2>sizeof() operator</h2>
    <p align="justify" style="font-size: 18px;">
      sizeof() is a unary operator which returns the size of the variable passed
      as an argument.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Example#</b></p>

    <div class="responsive">
      <img
        src="assets/images/Operators/Sizeof()_operator_example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="270px"
        width="480px"
      />
    </div>

  </div>
</div>
