<div class="container">
  <div class="row">
    <h1>Data types in C</h1>
    <div class="responsive">
      <img
        src="/assets/images/DataTypes/main.PNG"
        class="img-fluid"
        alt="Responsive image"
        style=" height: 200px; width: 600px; "
      />
    </div>

    <p align="justify" style="margin-top: 10px; font-size: 18px;">
      For example, in Our secular nation we can generally identify a person
      simply looking at their costumes, their identity belonging, their
      language, their religion, their daily eating etc. Similarly, in C language
      we can get idea about variable category from its data type.
    </p>

    <p align="justify" style="font-size: 18px;">
      Data types represent the type of data to be stored in a variable. We store
      a data in computer memory through the variables. So variables type must be
      specified before Storing data into the computer memory.
    </p>

    <p align="justify" style="font-size: 18px;">
      Computer memory is organized in bytes, and byte stores the smallest amount
      of data. C language supports different types of data (integer, float,
      character etc.) and need to store the values in the program. In C, there
      is fixed amount of memory assigned to each data type.
    </p>
    <h1>Data types can be broadly classified as:</h1>

    <div style="margin-top: 10px;" class="responsive">
      <img
        src="/assets/images/DataTypes/Primitive_datatype.PNG"
        class="img-fluid"
        alt="Responsive image"
        style="height: 200px; width: 400px;"
      />
    </div>

    <h2>Primary data types</h2>

    <h2>Integer types</h2>
    <p align="justify" style="font-size: 18px;">
      • Integers are whole numbers with a range of values.
    </p>
    <p align="justify" style="font-size: 18px;">
      • Generally, an integer occupies 2 bytes memory and its value range
      limited to -32768 to +32767.
    </p>
    <p align="justify" style="font-size: 18px;">Example#</p>
    <p align="justify" style="font-size: 18px;">int num1,num2;</p>
    <p align="justify" style="font-size: 18px;">long int num3;</p>

    <p align="justify" style="font-size: 18px;">
      There are various integer data types each has different memory assignment.
      This gives you the flexibility of choosing the right type of variable in
      the program.
    </p>

    <p align="justify" style="font-size: 18px;">
      • Meaning of “unsigned” is that only positive number can be stored in the
      variable.
    </p>
    <p align="justify" style="font-size: 18px;">
      • Here the “signed” keyword is not compulsory if the you have declared a
      variable without it complier will assume as “signed” by default another
      wise write “unsigned” keyword explicitly.
    </p>
    <p align="justify" style="font-size: 18px;">
      • Control string contains % character (known as conversion character)
      followed by format specifier character. Control string is used to specify
      what types of data you are going to read (input) or print (output) through
      input or output statements in C.
    </p>
    <h2>Floating Point Types:</h2>
    <p align="justify" style="font-size: 18px;">
      The float data type is used to store fractional numbers (real numbers)
      with up to 6 digits of precision.
    </p>
    <p align="justify" style="font-size: 18px;">
      When the accuracy of the floating-point number is insufficient, we can use
      the double type instead of float.
    </p>
    <p align="justify" style="font-size: 18px;">
      The double is same as float but provide more memory space for storing
      large value with longer precision.
    </p>
    <p align="justify" style="font-size: 18px;">Example#</p>
    <p align="justify" style="font-size: 18px;">float percentage:</p>
    <p align="justify" style="font-size: 18px;">double meterreading;</p>

    <p align="justify" style="font-size: 18px;">
      There are various float data types each has different memory assignment.
      this gives you the flexibility of choosing the right type of variable in
      the program.
    </p>

    <p align="justify" style="font-size: 18px;">
      • Control string contains % character (known as conversion character)
      followed by format specifier character. This control string is used to
      specify what types of data you are going to read (input) or print
      (output).
    </p>
    <h2>Character Type</h2>
    <p align="justify" style="font-size: 18px;">
      Character type variable can hold a single character. There are signed and
      unsigned chars; both occupy 1 byte each, but having different ranges.
    </p>
    <p align="justify" style="font-size: 18px;">Example#</p>
    <p align="justify" style="font-size: 18px;">char ch = ‘a’;</p>

    <p align="justify" style="font-size: 18px;">
      Data Type No of Bytes Used in memory Default Range (minimum to maximum
      value) Control string Char 1 -128 to 127 (in this range ASCII value of the
      character is stored. %c Unsigned char 1 0 to 255 %c Char Equal to length
      of character For each character -128 to 127 (in this range ASCII value of
      the character is stored. %s
    </p>
    <p align="justify" style="font-size: 18px;">
      • Control string contains % character (known as conversion character)
      followed by format specified character. This control string is used to
      specify what types of data you are going to read (input) or print
      (output).
    </p>
    <h2>Void Type</h2>
    <p align="justify" style="font-size: 18px;">
      This data type is used return type of the function and it means function
      does not return any value.
    </p>
    <p align="justify" style="font-size: 18px;">
      Another use with the as an argument of the function and meaning is that
      function does not has any arguments.
    </p>
    <p align="justify" style="font-size: 18px;">Example#</p>
    <p align="justify" style="font-size: 18px;">
      void read();=> read() function does not return nay value.
    </p>
    <p align="justify" style="font-size: 18px;">
      void read(void);=> read() function does not have any arguments.
    </p>
    <p align="justify" style="font-size: 18px;">
      Derived (structured) data types
    </p>
  </div>
</div>
