<div class="container">
  <div class="row">
    <h1>Procedure</h1>

    <p align="justify" style="font-size: 18px;">
      There are basically three steps involved in converting your ideas into
      what is to be done to make it a working program. There are three steps
      involved in converting your idea of what is to be done to a working
      program.<br />
    </p>
    <p align="justify" style="font-size: 18px;">
      1. Creating a source code in the form of the text file acceptable to the
      compiler.
    </p>
    <p align="justify" style="font-size: 18px;">
      2. Invoking the compiler to process the source code and produce an object
      file. .
    </p>
    <p align="justify" style="font-size: 18px;">
      3. Linking all the object files and libraries to produce an executable 16.
      .
    </p>

    <div class="responsive">
      <img
        src="assets/images/Procedure.png"
        class="img-fluid"
        alt="Responsive image"
        height="300px"
        width="500px"
      />
    </div>
    <h4>We will look at these parts in some more detail here.</h4>
    <p align="justify" style="font-size: 18px;">
      The source code is where you express the the whole computation you want to
      do into a series of instructions. .
    </p>
    <p align="justify" style="font-size: 18px;">
      The tradition is to use the C source code with an extension .c For example
      myfile.c . Some compilers insist on this extension. This is an acsii file
      that you can create using any one of the editors that you are familiar
      with. We will look at the detailed structure of this code in a little
      while . .
    </p>
    <p align="justify" style="font-size: 18px;">
      We may have different parts of the code in different files. We then
      compile them separately or together to form object files. During this
      operation the compiler checks and convert your source code to a language
      understandable to the particular processor that is used in the computer.
      These object files that comes with an extension .o, for example myfile.o ,
      are in binary format. .
    </p>
    <p align="justify" style="font-size: 18px;">
      The next step is to link these object files and other libraries and header
      files etc., to produce an executable. This executable file contains a set
      of instruction in a language that the processor can understand and is the
      one which we run on the computer. We will see the use of header files and
      system libraries in the examples given below. .
    </p>
    <p align="justify" style="font-size: 18px;">
      Before proceed let us summarize the steps that takes us to run a program
      in the form of a flow chart. .
    </p>
  </div>
</div>
