<div class="container">
  <div class="row">
    <h1>Applications</h1>
    <h2>
      the beginning, C was used for developing system applications, e.g. :
    </h2>
    <p align="justify" style="font-size: 18px;">Database Systems</p>
    <p align="justify" style="font-size: 18px;">Language Interpreters</p>
    <p align="justify" style="font-size: 18px;">Compilers and Assemblers</p>
    <p align="justify" style="font-size: 18px;">Operating Systems</p>
    <p align="justify" style="font-size: 18px;">Network Drivers</p>
    <p align="justify" style="font-size: 18px;">Word Processors</p>
  </div>
</div>
