<div class="container">
  <div class="row">
    <h1>Switch-case</h1>
    <p align="justify" style="font-size: 18px;">
      When you are comparing the same expression to several different values it
      gets complicated with if…else if…else so we can use the switch-case
      statements as an alternative to the if-else statements.
    </p>
    <p align="justify" style="font-size: 18px;">
      It executes one of several groups of statements depending on the value of
      an expression.
    </p>
    <p align="justify" style="font-size: 18px;">
      If-else block executes different condition or expression in each statement
      on the other hand the switch statement evaluates a single expression and
      compares it for every comparison.
    </p>
    <p align="justify" style="font-size: 18px;">
      If any case statement is satisfied, then the logic of that case will be
      executed and then the control will come out of switch block. This one will
      not happen with if-else block.
    </p>
    <p align="justify" style="font-size: 18px;">
      Remember that switch block use break statement at the end of each case.
    </p>
    <p align="justify" style="font-size: 18px;">C simply requires that we leave the block before it ends.</p>
    <p align="justify" style="font-size: 18px;">If-else block are time consuming then switch case block.</p>
    <p align="justify" style="font-size: 18px;">
      A switch statement allows a variable to be tested for equality against a
      list of values.
    </p>
    <p align="justify" style="font-size: 18px;">
      Each value is called a case, and the variable being switched on is checked
      for each switch case.
    </p>
    <p align="justify" style="font-size: 18px;"><b>Syntax#</b></p>

    <div class="responsive">
      <img
        src="assets/images/Switch_case/Switch-case_syntax.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="400px"
        width="620px"
      />
    </div>

    <p align="justify" style="font-size: 18px;"><b>Example#</b> Switch case demo</p>

    <div class="responsive">
      <img
        src="assets/images/Switch_case/switch_case_example.PNG"
        class="img-fluid"
        alt="Responsive image"
        height="450px"
        width="500px"
      />
    </div>
    <h2>Properties of Switch statmements</h2>
    <p align="justify" style="font-size: 18px;">
      • We don't use those expressions to evaluate switch case, which may return
      floating point values or strings.
    </p>
    <p align="justify" style="font-size: 18px;">• The case label values must be unique.</p>
    <p align="justify" style="font-size: 18px;">• The case label must end with a colon(:)</p>
    <p align="justify" style="font-size: 18px;">• The break is used to break out of the case statements.</p>
    <p align="justify" style="font-size: 18px;">
      • Break is a keyword that breaks out of the code block, usually surrounded
      by braces, which it is in.
    </p>
    <p align="justify" style="font-size: 18px;">
      • It isn't necessary to use break after each block, but if you do not use
      it, then all the consecutive block of codes will get executed after the
      matching block.
    </p>
    <p align="justify" style="font-size: 18px;">
      • The default case is optional, but it is wise to include it as it handles
      any unexpected cases.Usually default case is executed when none of the
      mentioned cases matches the switch expression.
    </p>
  </div>
</div>
